<ion-header class="head" mode="ios">
  <ion-toolbar>
    <ion-title >Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="register-form">
    <div class="form-group register_div">
      <label position="floating">Email:</label>
      <input [(ngModel)]="emaillog" name="login" class="form-control register-input" type="text" required />
    </div>
    <div class="form-group register_div">
      <label position="floating">Password:</label>
      <input [(ngModel)]="pass" name="password" class="form-control register-input" type="password"  required />
    </div>
    <ion-col>
      <ion-col>
        <ion-button class="button_3" type="submit" home="home" (click)="login(emaillog,pass)" expand="block">LogIn</ion-button>
      </ion-col>
      <hr>
      <ion-col>
        <ion-button class="button_1" home="register" [routerLink]="['/register']" expand="block">Ir a Registro</ion-button>
      </ion-col>
    </ion-col>
  </form>
</ion-content>

<ion-footer class="head" mode="ios">
  <ion-toolbar>

  </ion-toolbar>
</ion-footer>
