.register-form {
  padding: 1em;
}

.register_div {
  margin: 2vh 0 0 0;
  font-weight: bold;
  font-size: small;
}

.register_button {
  margin-top: 30vh;
}

.register-input {
	width: 73vw;
	height: 3vh;
}
