<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="register-form">
    <div class="form-group register_div">
      <label>Nombre Completo:</label>
      <input [(ngModel)]="namereg" name="namereg" class="form-control register-input" type="text" required />
    </div>
    <div class="form-group register_div">
      <label>Email:</label>
      <input [(ngModel)]="emailreg" name="emailreg" class="form-control register-input" type="email" required />
    </div>
    <div class="form-group register_div">
      <label >Contraseña:</label>
      <input [(ngModel)]="passreg" name="passreg" class="form-control register-input" type="password" required />
    </div>
    <div class="form-group register_div">
      <label >Confirmar Contraseña:</label>
      <input [(ngModel)]="reppass" name="reppass" class="form-control register-input" type="password" required />
    </div>
    <div class="form-group register_div">
      <label >Teléfono:</label>
      <input [(ngModel)]="telreg" name="telreg" class="form-control register-input" type="text" required />
    </div>
    <div class="form-group register_div">
      <label >Localidad:</label>
      <input [(ngModel)]="locreg" name="locreg" class="form-control register-input" type="text" required />
    </div>
    <ion-row>
      <ion-col>
        <ion-button class="button_1 register_button" (click)="register(namereg,passreg,reppass,emailreg,telreg,locreg)" type="submit" expand="block">Registrar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<ion-footer mode="ios">
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>
