ion-textarea.custom-textarea {
  border-color: grey;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}


.form-formulario{
  margin: 5vh 4vw 5vh 4vw;
}

.description{
  margin: 2vh 0 0 0;
}
