.label_1_home{
  font-weight: bold;
  font-size: small;
}

.profile_button {
  background-color: transparent;
  padding-top: 1vh;
}

.profile_icon {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50px;
}
